In [1]:
# The empty set of curly braces denotes the empty dic onary, not empty set
x = {}
print(type(x))

<class 'dict'>

In [2]:
# To take a set without elements, use set() func on without any items
y = set()
print(type(y))

<class 'set'>

In [3]:
set1 =  {'Hello Earth!', 3.14, 1.618, 'Hello World!', 3.14, 1.618, True, False, 2024}
set1

{1.618, 2024, 3.14, False, 'Hello Earth!', 'Hello World!', True}

# Converting list to set

In [4]:
nlis =  ['Hello Earth!', 3.14, 1.618, 'Hello World!', 3.14, 1.618, True, False, 2024]

set2 = set(nlis)
set2

{1.618, 2024, 3.14, False, 'Hello Earth!', 'Hello World!', True}

# Set operations

In [5]:
set3 = set(['Hello Earth!', 3.14, 1.618, 'Hello World!', 3.14, 1.618, True, False, 2024])
set3

{1.618, 2024, 3.14, False, 'Hello Earth!', 'Hello World!', True}

# Add() Function

In [6]:
ste3 = set(['Hello Earth!', 3.14, 1.618, 'Hello World!', 3.14, 1.618, True, False, 2024])
set3.add('Hi, Earth!')
set3

{1.618, 2024, 3.14, False, 'Hello Earth!', 'Hello World!', 'Hi, Earth!', True}

In [7]:
set3.add('Hi, Earth!')
set3

{1.618, 2024, 3.14, False, 'Hello Earth!', 'Hello World!', 'Hi, Earth!', True}

# Update() Function

In [8]:
x_set = {6,7,8,9}
print(x_set)
x_set.update({3,4,5})
print(x_set)

{8, 9, 6, 7}
{3, 4, 5, 6, 7, 8, 9}

# remove() function

In [9]:
set3.remove('Hello Earth!')
set3

{1.618, 2024, 3.14, False, 'Hello World!', 'Hi, Earth!', True}

# Discard() function

In [10]:
set3.discard(3.14)
set3

{1.618, 2024, False, 'Hello World!', 'Hi, Earth!', True}

In [12]:
1.618 in set3

True

In [13]:
3.14 in set3

False

# Logic opration in sets

In [14]:
set4 = set(['Hello Earth!',3.14,1.618, 'Hello world!'])
set5 = set([3.14,1.618,True,False,2024])

set4, set5

({1.618, 3.14, 'Hello Earth!', 'Hello world!'},
 {False, True, 1.618, 3.14, 2024})

# To fnd the ntersect of two sets usng &

In [15]:
intersection = set4 & set5
intersection

{1.618, 3.14}

#  To fnd the ntersect of two sets, use intersecton() functon

In [16]:
set4.intersection(set5)

{1.618, 3.14}

# difference() function

In [18]:
print(set4.difference(set5))
print(set5.difference(set4))

print(set4 - set5)
print(set5 - set4)

{'Hello Earth!', 'Hello world!'}
{False, True, 2024}
{'Hello Earth!', 'Hello world!'}
{False, True, 2024}

# Set comparison

In [19]:
print(set4 > set5)
print(set5 > set4)
print(set4 == set5)

False
False
False

# union() function

In [20]:
set4.union(set5)

{1.618, 2024, 3.14, False, 'Hello Earth!', 'Hello world!', True}

# issuperset() and ssubset() functons

In [21]:
set(set4).issuperset(set5)

False

In [22]:
set(set4).issubset(set5)

False

In [23]:
print(set([3.14, 1.618]).issubset(set5))
print(set([3.14, 1.618]).issubset(set4))
print(set4.issuperset([3.14, 1.618]))
print(set5.issuperset([3.14, 1.618]))

True
True
True
True

# mn(), max() and sum() functons

In [26]:
A = [1,1,2,2,3,3,4,4,5,5]
B = {1,1,2,2,3,3,4,4,5,5}

print('The minimum number of A is', min(A))
print('The minimum number of B is', min(B))
print('The maximum number of A is', max(A))
print('The maximum number of B is', max(B))
print('The sum of A is', sum(A))
print('The sum of B is', sum(B))

The minimum number of A is 1
The minimum number of B is 1
The maximum number of A is 5
The maximum number of B is 5
The sum of A is 30
The sum of B is 15

# No mutable sequence n a set

In [27]:
 set6 = {'Table', 1,2,3, [1,2,3]}
 set6

TypeError: unhashable type: 'list'

# Index() functon

### Ths functon does not work n set snce the set s unordered collecton

In [28]:
set7 = {1,2,3,4}
set7[1]

TypeError: 'set' object is not subscriptable

# Copy the set

In [29]:
set8 = {1,3,5,7,9}
print(set8)
set9 = set8
print(set9)
set8.add(11)
print(set8)
print(set9)

{1, 3, 5, 7, 9}
{1, 3, 5, 7, 9}
{1, 3, 5, 7, 9, 11}
{1, 3, 5, 7, 9, 11}

# Copy() function

In [30]:
set8 = {1,3,5,7,9}
print(set8)
set9 = set8.copy()
print(set9)
set8.add(11)
print(set8)
print(set9)

{1, 3, 5, 7, 9}
{1, 3, 5, 7, 9}
{1, 3, 5, 7, 9, 11}
{1, 3, 5, 7, 9}

# Clear() function

In [31]:
x = {0,1,1,2,3,5,8,13,21,34}
print(x)
x.clear()
print(x)

{0, 1, 2, 3, 34, 5, 8, 13, 21}
set()

# pop() function

In [32]:
x = {0,1,1,2,3,5,8,13,21,34}
print(x)
x.pop()
print(x)

{0, 1, 2, 3, 34, 5, 8, 13, 21}
{1, 2, 3, 34, 5, 8, 13, 21}