In [2]:
# Take a Tuple
tuple_1 = ('hello','jupter',3.14,1.618,True,False,[1,2,3],{1,2,3},{'A':3,'B':8},(0,1))
tuple_1

('hello',
 'jupter',
 3.14,
 1.618,
 True,
 False,
 [1, 2, 3],
 {1, 2, 3},
 {'A': 3, 'B': 8},
 (0, 1))

In [3]:
print(type(tuple_1))
print(len(tuple_1))

<class 'tuple'>
10

# Indexing

In [5]:
tuple_1 = ('hello','jupter',3.14,1.618,True,False,[1,2,3],{1,2,3},{'A':3,'B':8},(0,1))

print(tuple_1[0])
print(tuple_1[1])
print(tuple_1[2])
print(tuple_1[-1])
print(tuple_1[-2])
print(tuple_1[-3])

hello
jupter
3.14
(0, 1)
{'A': 3, 'B': 8}
{1, 2, 3}

In [8]:
# Printing the type of each value in the tuple
tuple_1 = ('hello','jupter',3.14,1.618,True,False,[1,2,3],{1,2,3},{'A':3,'B':8},(0,1))

print(type(tuple_1[0]))
print(type(tuple_1[2]))
print(type(tuple_1[4]))
print(type(tuple_1[6]))
print(type(tuple_1[7]))
print(type(tuple_1[8]))
print(type(tuple_1[9]))

<class 'str'>
<class 'float'>
<class 'bool'>
<class 'list'>
<class 'set'>
<class 'dict'>
<class 'tuple'>

# Concatenation of tuples

In [9]:
tuple_2 = tuple_1 + ('hi tuple',2024)
tuple_2

('hello',
 'jupter',
 3.14,
 1.618,
 True,
 False,
 [1, 2, 3],
 {1, 2, 3},
 {'A': 3, 'B': 8},
 (0, 1),
 'hi tuple',
 2024)

# Repetion of tuple

In [10]:
rep_tup = (1,2,3,4)
rep_tup * 2

(1, 2, 3, 4, 1, 2, 3, 4)

# Membership

In [11]:
rep_tup = (1,2,3,4)
print( 2 in rep_tup)
print(2 not in rep_tup)
print(5 in rep_tup)
print(5 not in rep_tup)

True
False
False
True

# Iteration

In [12]:
rep_tup = (1,2,3,4)
for i in rep_tup:
    print(i)

1
2
3
4

# cmp() Function
### It is to compare two tuples and returns True or False

In [13]:
def cmp(t1,t2):
    return bool(t1 > t2) - bool(t1 < t2)

def cmp(t3,t4):
    return bool(t3 > t4) - bool(t3 < t4)

def cmp(t5,t6):
    return bool(t5 > t6) - bool(t5 < t6)

t1 = (1,3,5)
t2 = (2,4,6)

t3 = (5,)
t4 = (4,)

t5 = (3.14,)
t6 = (3.14,)

print(cmp(t1,t2))
print(cmp(t3,t4))
print(cmp(t5,t6))

-1
1
0

# min() Function

In [15]:
rep_tup = (1,2,3,4)
min(rep_tup)

1

# Max() Function

In [16]:
rep_tup = (1,2,3,4)
max(rep_tup)

4

# tup(seq) Function

In [17]:
seq = 'ATGCGTATTGCCAT'
tuple(seq)

('A', 'T', 'G', 'C', 'G', 'T', 'A', 'T', 'T', 'G', 'C', 'C', 'A', 'T')

# Slicing

In [18]:
tuple_1 = ('hello','jupter',3.14,1.618,True,False,[1,2,3],{1,2,3},{'A':3,'B':8},(0,1))
tuple_1[2:7]

(3.14, 1.618, True, False, [1, 2, 3])

In [19]:
tuple_1 = ('hello','jupter',3.14,1.618,True,False,[1,2,3],{1,2,3},{'A':3,'B':8},(0,1))
tuple_1[-4:-1]

([1, 2, 3], {1, 2, 3}, {'A': 3, 'B': 8})

# Len() Function

In [21]:
tuple_1 = ('hello','jupter',3.14,1.618,True,False,32,[1,2,3],{1,2,3},{'A':3,'B':8},(0,1))
len(tuple_1)

11

# Sorting Tuple

In [22]:
tuple_3 = (0,9,7,4,6,2,9,8,3,1)
sorted_tuple_3 =sorted(tuple_3)
sorted_tuple_3

[0, 1, 2, 3, 4, 6, 7, 8, 9, 9]

# Nested tuple

In [23]:
nested_tuple = ('biotechnology',(0,5),('fermentation','ethanol'),(3.14,'pi',(1.618,'golden ratio')))
nested_tuple

('biotechnology',
 (0, 5),
 ('fermentation', 'ethanol'),
 (3.14, 'pi', (1.618, 'golden ratio')))

In [24]:
print('Item 0 of nested tuple is', nested_tuple[0])
print('Item 1 of nested tuple is', nested_tuple[1])
print('Item 2 of nested tuple is', nested_tuple[2])
print('Item 3 of nested tuple is', nested_tuple[3])

Item 0 of nested tuple is biotechnology
Item 1 of nested tuple is (0, 5)
Item 2 of nested tuple is ('fermentation', 'ethanol')
Item 3 of nested tuple is (3.14, 'pi', (1.618, 'golden ratio'))

In [26]:
# using second index to access other tuples in the nested tuple
print('Item 1,0 of the nested tuple is', nested_tuple[1][0])
print('Item 1,1 of the nested tuple is', nested_tuple[1][1])
print('Item 2,0 of the nested tuple is', nested_tuple[2][0])
print('Item 2,1 of the nested tuple is ', nested_tuple[2][1])
print('Item 3,0 of the nested tuple is', nested_tuple[3][0])
print('Item 3,1 of the nested tuple is', nested_tuple[3][1])
print('Item 3,2 of the nested tuple is ', nested_tuple[3][2])

# Accesing to the items in the second nested tuples using a third index
print('Item 3,2,0 of the nested tuple is', nested_tuple[3][2][0])
print('Item 3,2,1 of the nested tuple is', nested_tuple[3][2][1])

Item 1,0 of the nested tuple is 0
Item 1,1 of the nested tuple is 5
Item 2,0 of the nested tuple is fermentation
Item 2,1 of the nested tuple is  ethanol
Item 3,0 of the nested tuple is 3.14
Item 3,1 of the nested tuple is pi
Item 3,2 of the nested tuple is  (1.618, 'golden ratio')
Item 3,2,0 of the nested tuple is 1.618
Item 3,2,1 of the nested tuple is golden ratio

# Tuples are immutable

In [27]:
tuple_4 = (1,3,5,7,8)
tuple_4[0]= 9
print(tuple_4)

TypeError: 'tuple' object does not support item assignment

# Delete a tuple

In [28]:
tuple_4 = (1,3,5,7,8)
print('Before deleting :', tuple_4)
del tuple_4
print('After deleting :', tuple_4)

Before deleting : (1, 3, 5, 7, 8)

NameError: name 'tuple_4' is not defined

# Count() method

In [29]:
tuple_5 = (1,1,3,3,5,5,5,5,6,6,7,8,9)
tuple_5.count(5)

4

# index() method

In [32]:
tuple_5 = (1,1,3,3,5,5,5,5,6,6,7,8,9)
print(tuple_5.index(5))
print(tuple_5.index(1))
print(tuple_5.index(9))

4
0
12

# One element tuple

In [36]:
tuple_6 = (0)
print(tuple_6)
print(type(tuple_6))

0
<class 'int'>

In [37]:
tuple_7 = (4,)
print(tuple_7)
print(type(tuple_7))

(4,)
<class 'tuple'>